<!DOCTYPE html>
<html>

<head>
    <title>Cavalheiro's</title>

    <meta charset="utf-8" />
    <meta name="author" content="Andre Cavalheiro">
    <meta name="description" content="Cavalheiro's personal home cinema">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>

<body>
    <h1>Home Cinema</h1>   <h4>By Cavalheiro</h4>
    <form id ="home_button"  method="get" action="/">
        <button type="submit">Home</button>
    </form>
    
    <p> You're now whatching: <h4> <%= movie.name %> </h4> </p>
    <%var source = "/videos/movies/" + movie.path%>
    <video id="Video1" controls autoplay>
        <source src="<%=source%>" type="video/mp4" />
        <source src="<%=source%>" type="video/mkv" />  
        <source src="<%=source%>" type="video/avi" />     
    </video>
    <br>
    <a href="<%=source%>" download> Download the video</a>


</body>
</html>



    
