<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include Templates/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h3><%= videodata.categoryName %></h3> 

    <% videodata.categories.forEach(function(tmp){%>
      <li><a href="https://thenewboston.com/videos_food.php?cat=<%= tmp.categoryID %>"> <%= tmp.categoryName %></a></li>
    <%}) %> 

    <% for(var i=0;i<6;i++) { %>
        <ul> <%= i %>  </ul>
    <% } %>

  </body>
</html>
